* {

    color: white;
    text-align: center;
    padding-bottom: 10px;
    box-sizing: border-box;
}

body {
    background-color: black;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    width: 100%;
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;



}

.pfp {

    display: grid;
    place-items: center;


}

.pfp img {
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;


}

.name h1 {
    color: white;
    text-align: center;
    font-size: 20px;
}

.name h3 {
    color: white;
    text-align: center;
    font-size: 15px;

}

.name h2 {
    color: #c5f82a;
    text-align: center;
    font-size: 10px;

}


#link_box {
    background-color: #1f1f1f;
    display: grid;
    place-content: center;
    align-items: center;
    width: 370px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

#links {
    background-color: #1f1f1f;
    width: 100%;
    height: auto;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profiles a {
    background-color: #333333;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.profiles a:hover {
    background-color: #c5f82a;
}

.attribution {
    opacity: 0.5;
    font-size: 12px;
    margin-top: 20px;
}

